{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": true,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
